:root {
  --image: url(../img/hero-img.jpg);
  --heroImage: url(../img/hero-img2.png);
}
/* Style */
.container {
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 0;
}
.article-white {
  background: #f6f6f6;
  color: black;
}
.article-blue {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: white;
}
/* logo */
.grt-menu-logo a img {
  border-radius: 50%;
}
/* Hero image */
.heroImage {
  min-height: 100vh;
  background-image: var(--heroImage);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: auto;
  text-align: center;
  height: auto;
  width: 85vw;
  display: block;
  position: absolute;
  color: black;
  top: 18vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: capitalize;
}
/* Menu */
ul.grt-menu li a {
  text-transform: capitalize;
}
/* About */
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.about-main__title {
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
}
.about-main__paragraph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about__img {
  margin-top: 10px;
  width: 100%;
}
/* About Why */
/* This coding are about main why and values */
.about-main__why,
.about-values {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.why__li ul,
.about-values__li ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 5vw;
  width: 100%;
  text-align: left;
}
.why__li ul li:before,
.about-values__li ul li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
/* Mission, vission, values */
.about-mission,
.about-vission,
.about-values {
  width: 100%;
  text-align: center;
}
.about-mission__title,
.about-values__title,
.about-vission__title {
  margin-block-start: 2em;
  margin-block-end: 0em;
}
.about-mission__paragraph,
.about-values__paragraph,
.about-vission__paragraph {
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Mission */
/* Values */
.about-values {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.about-values ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.about-values__li:first-of-type {
  margin-top: 5vh;
}
/* Services */
.services__title {
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}
.services__paragraph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.services-container__service {
  width: 70vw;
  height: auto;
  margin-bottom: 5vh;
}
.service-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 5%);
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.service-icon img {
  width: 50%;
  height: 50%;
  padding: 30px 0;
}
.service-icon__title,
.service-icon__paragraph {
  text-align: center;
}
.service-icon__paragraph {
  color: rgba(255, 255, 255, 0.75);
}
/* Gallery */
.gallery__title {
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}
.gallery_paragraph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.gallery-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.projects-container {
  width: 100%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 5;
  border-radius: 1rem;
  padding-left: 1rem;
  background-color: transparent;
  padding: 1rem;
  margin-left: 1vw;
  margin-top: 2vh;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.projects-container img {
  width: 100%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.description-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.projects-container:hover > .description-hover {
  opacity: 1;
  visibility: visible;
}
.projects-container:hover > .description-hover h4 {
  /* margin-top: 5vh; */
  margin-bottom: auto;
}
.projects-container:hover > img {
  transform: scale(1.3);
}
.description-hover h4 {
  color: #fff;
  font-weight: bolder;
  /* margin-bottom: 10vh; */
  transition: all 400ms ease-out;
  margin-top: 10vh;
  font-size: 2rem;
}
.description-hover-paragraph {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  font-weight: bolder;
}
/* Contact */
.contact-title {
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}
.contact-paragraph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact-flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.contact-form {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 5vh;
  margin-top: 5px;
  padding: 5px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact-form textarea {
  height: 15vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid black;
  display: block;
}
.contact-form input:last-of-type {
  display: block;
  width: 90%;
  height: 9vh;
  margin-top: 15px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #6182fe;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
}
.contact-form input:last-of-type:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* Contact Info */
.contact-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-info i.fa {
  margin-right: 10px;
}
.phone-paragraph,
.email-paragraph,
.address-paragraph {
  color: rgba(255, 255, 255, 0.75);
}
.text-decoration {
  text-decoration: none;
}
/* Social */
.social {
  padding-top: 10vh;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.social__facebook,
.social__twitter {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border: 2px solid white;
  width: 15px;
  height: 15px;
  padding: 15px;
  line-height: 1;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: 400;
  color: white;
}
/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 5vh 0 5vh 0;
  color: #888;
}
